.listView {
    width: 100%;
}

.listView table {
    width: 100%;
}

.listView table thead th {
    text-align: left;
    padding: 1rem;
}

.listView table tbody td {
    padding: 1rem;
    text-align: left;
}

.itemName {
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 0.5rem;
    color: purple;
    width: fit-content;
}

.dateInvalid {
    padding: 0.5rem;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 0.5rem;
    width: fit-content;
}