.listView {
    width: 100%;
    cursor: default;
    padding: 0 2rem;
}

.listView table {
    width: 100%;
}

.listView table thead th {
    text-align: left;
    align-items: center;
    padding: 0.5rem;
}

.listView table tbody td {
    padding: 1rem;
    text-align: left;
}

.itemName {
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgb(128, 0, 128);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    width: fit-content;
}

.itemName:hover {
    cursor: pointer;
    border: 1px solid rgb(128, 0, 128);
    background-color: rgb(255, 255, 255);
    color: rgb(128, 0, 128);
}

.dateInvalid {
    padding: 0.5rem;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 0.5rem;
    width: fit-content;
}